body, html {
    height: 100%;
    width: 100%;
}
body {
    background-color: #0d0c0d;
    color: #ffffff;
    font-family: 微软雅黑,"Lato",sans-serif;
    font-size: 16px;
    line-height: 25px;
    overflow-x: hidden;
}
.text-grey {
    color: #a1a1a1;
}
.colored-text {
    color: #00a69a;
}
a {
    color: #00a69a;
    outline: medium none;
    transition: all 0.2s ease-in-out 0s;
}
a:hover, a:focus {
    color: #00a69a;
    outline: medium none;
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.btn.btn-custom {
    background-color: #00a69a;
    border-radius: 3px;
    box-shadow: 0 3px 0 #00736b;
    color: #ffffff;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn.btn-custom:hover {
    background-color: #008d82;
}
.btn.btn-custom > i {
    padding-right: 2px;
}
@media (max-width: 767px) {
.btn.btn-lg.btn-custom {
    font-size: 16px;
    line-height: 1.42857;
    padding: 6px 12px;
}
}
.btn.btn-custom.btn-circle {
    border-radius: 50%;
    box-shadow: none;
    height: 48px;
    line-height: 46px;
    padding: 0;
    width: 48px;
}
.btn.btn-sm.btn-custom.btn-circle {
    height: 40px;
    line-height: 38px;
    width: 40px;
}
.btn.btn-lg.btn-custom.btn-circle {
    height: 54px;
    line-height: 52px;
    width: 54px;
}
span.divider {
    background-color: #00a69a;
    display: block;
    height: 2px;
    margin: 35px 0;
    width: 150px;
}
span.divider.center {
    margin-left: auto;
    margin-right: auto;
}
.uppercase {
    text-transform: uppercase;
}
.select2-container--default .select2-selection--single.select2-container-custom {
    background-color: #0d0c0d;
    border-color: #3b3b3b;
    border-radius: 0;
    height: 46px;
    padding: 8px;
}
.select2-container--default .select2-selection--single.select2-container-custom:focus {
    outline: medium none;
}
.select2-container--default .select2-selection--single.select2-container-custom .select2-selection__rendered {
    color: #a1a1a1;
}
.select2-container--default .select2-selection--single.select2-container-custom .select2-selection__arrow {
    height: 46px;
}
.select2-container--default .select2-selection--single.select2-container-custom .select2-selection__arrow b {
    border-color: #3b3b3b transparent transparent;
    border-width: 8px 6px 0;
    margin-left: -12px;
    margin-top: -4px;
}
.select2-dropdown-custom {
    background-color: #0d0c0d;
    border-color: #3b3b3b;
    border-radius: 0;
}
.select2-dropdown-custom .select2-results > .select2-results__options {
    max-height: 400px;
}
.select2-dropdown-custom .select2-results > .select2-results__options > .select2-results__option {
    color: #a1a1a1;
    padding: 8px 15px;
}
.select2-dropdown-custom .select2-results > .select2-results__options > .select2-results__option:hover {
    background-color: #212121;
}
.select2-dropdown-custom .select2-results > .select2-results__options > .select2-results__option--highlighted[aria-selected] {
    background-color: #212121;
}
.select2-dropdown-custom .select2-results > .select2-results__options > .select2-results__option[aria-selected="true"] {
    background-color: #00a69a;
    color: #ffffff;
}
.form-group .radio {
    margin-bottom: 5px;
    padding-left: 1px;
}
.form-group .radio:last-child {
    margin-bottom: 0;
}
.form-group .radio > label {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 26px;
    position: relative;
}
.form-group .radio > label::before {
    border: 1px solid #3b3b3b;
    border-radius: 50%;
    content: "";
    height: 18px;
    left: 0;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    width: 18px;
}
.form-group .radio input[type="radio"] {
    position: absolute;
    visibility: hidden;
}
.form-group .radio input[type="radio"]:checked + label::before {
    color: #555555;
    content: "";
    font-family: "FontAwesome";
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}
.form-group .checkbox {
    margin-bottom: 5px;
    padding-left: 1px;
}
.form-group .checkbox:last-child {
    margin-bottom: 0;
}
.form-group .checkbox > label {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 26px;
    position: relative;
}
.form-group .checkbox > label::before {
    border: 1px solid #3b3b3b;
    border-radius: 1px;
    content: "";
    height: 18px;
    left: 0;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    width: 18px;
}
.form-group .checkbox input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
}
.form-group .checkbox input[type="checkbox"]:checked + label::before {
    color: #555555;
    content: "";
    font-family: "FontAwesome";
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}
#jpreOverlay {
    background-color: #0d0c0d;
}
#jpreLoader {
    height: 5px;
    width: 100%;
}
#jpreBar {
    background-color: #00a69a;
}
header.hero {
    background-image: url("../images/bg-hero.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 5;
}
@media (max-width: 991px) {
header.hero {
    margin-top: 65px;
}
}
@media (min-width: 992px) {
header.hero {
    height: calc(100% - 65px);
}
}
header.hero::before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 10;
}
header.hero .pattern-overlay {
    background-image: url("../images/bg-pattern.png");
    background-repeat: repeat;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 15;
}
header.hero .hero-body {
    display: table-cell;
    padding: 80px 30px;
    position: relative;
    vertical-align: middle;
    z-index: 15;
}
@media (min-width: 480px) {
header.hero .hero-body {
    padding: 100px 50px;
}
}
@media (min-width: 768px) {
header.hero .hero-body {
    padding: 50px;
}
}
@media (min-width: 992px) {
header.hero .hero-body {
    padding: 0;
}
}
header.hero .hero-body .hero-text {
    color: rgba(255, 255, 255, 0.9);
}
header.hero .hero-body .hero-text h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -4px;
}
@media (min-width: 600px) {
header.hero .hero-body .hero-text h1 {
    font-size: 58px;
}
}
@media (min-width: 768px) {
header.hero .hero-body .hero-text h1 {
    font-size: 78px;
}
}
header.hero .hero-body .hero-text h1.small {
    color: #ffffff;
    font-size: 45px;
    font-weight: 400;
}
@media (min-width: 600px) {
header.hero .hero-body .hero-text h1.small {
    font-size: 58px;
}
}
@media (min-width: 768px) {
header.hero .hero-body .hero-text h1.small {
    font-size: 66px;
}
}
header.hero .hero-body .hero-text h1.small > span.blinker {
    position: relative;
}
header.hero .hero-body .hero-text h1.small > span.blinker::before {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: blinker;
    animation-timing-function: linear;
    background-color: #ffffff;
    content: "";
    height: 30px;
    left: 8px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    width: 2px;
}
@media (min-width: 768px) {
header.hero .hero-body .hero-text h1.small > span.blinker::before {
    height: 40px;
    left: 10px;
    margin-top: -20px;
    width: 3px;
}
}
@media (min-width: 992px) {
header.hero .hero-body .hero-text h1.small > span.blinker::before {
    height: 50px;
    margin-top: -25px;
    width: 3px;
}
}
header.hero .hero-body .hero-text p {
    font-size: 20px;
    margin-top: 10px;
}
header.hero .hero-body .hero-text .page-scroll {
    margin-top: 50px;
}
#text-slider .carousel-inner {
    padding-bottom: 3px;
}
@media (min-width: 1280px) {
header.hero.bg-slideshow-yes {
    background: transparent none repeat scroll 0 0;
}
}
header.hero.parallax-yes {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
}
header.hero.parallax-yes > .parallax {
    height: 100%;
    width: 100%;
}
header.hero.parallax-yes > .parallax > .bcg {
    background-image: url("../images/bg-hero.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}
@media (min-width: 1280px) {
header.hero.parallax-yes > .parallax > .bcg {
    background-attachment: fixed;
}
}
@keyframes blinker {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes blinker {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
.navbar.navbar-fixed-top {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #171717;
    border-color: -moz-use-text-color -moz-use-text-color #282428;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    height: 66px;
    margin: 0;
}
@media (min-width: 992px) {
.navbar.navbar-fixed-top {
    position: relative;
}
}
.navbar.navbar-fixed-top .navbar-container {
    background-color: #171717;
}
.navbar.navbar-fixed-top .navbar-brand {
    color: #a1a1a1;
    font-family: "Raleway",sans-serif;
    font-size: 28px;
    font-weight: 700;
    height: 65px;
    letter-spacing: 0.1em;
    line-height: 65px;
    padding-bottom: 0;
    padding-top: 0;
    text-transform: uppercase;
}
.navbar.navbar-fixed-top .navbar-nav > li > a {
    color: #a1a1a1;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    letter-spacing: 2px;
    line-height: 40px;
    padding-top: 0;
    text-transform: uppercase;
}
@media (min-width: 992px) {
.navbar.navbar-fixed-top .navbar-nav > li > a {
    height: 65px;
    line-height: 65px;
}
}
.navbar.navbar-fixed-top .navbar-nav > li > a:hover {
    background-color: #171717;
    color: #ffffff;
}
.navbar.navbar-fixed-top .navbar-nav > li > a:focus {
    background-color: #171717;
    color: #a1a1a1;
}
.navbar.navbar-fixed-top .navbar-nav > li.active > a {
    background-color: #171717;
    color: #00a69a;
}
.navbar.navbar-fixed-top .navbar-nav > li.active > a:hover {
    background-color: #171717;
    color: #00a69a;
}
.navbar.navbar-fixed-top .navbar-nav > li.active > a:focus {
    background-color: #171717;
    color: #00a69a;
}
.navbar.navbar-fixed-top .navbar-nav > li.dropdown > a:hover {
    color: #ffffff;
}
.navbar.navbar-fixed-top .navbar-nav > li.dropdown.open > a {
    background-color: #171717;
    color: #ffffff;
}
.navbar.navbar-fixed-top .navbar-nav > li.dropdown.open > a:focus {
    background-color: #171717;
}
.navbar.navbar-fixed-top .navbar-nav > li.dropdown.active > a, .navbar.navbar-fixed-top .navbar-nav > li.dropdown.active.open > a {
    color: #00a69a;
}
.navbar.navbar-fixed-top .navbar-nav > li.dropdown.active > a:hover, .navbar.navbar-fixed-top .navbar-nav > li.dropdown.active.open > a:hover {
    color: #00a69a;
}
.navbar.navbar-fixed-top .navbar-nav .dropdown-menu {
    background-color: #171717;
    min-width: 180px;
    padding: 10px 0;
}
@media (max-width: 991px) {
.navbar.navbar-fixed-top .navbar-nav .dropdown-menu {
    padding-top: 0;
}
}
.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li a {
    color: #a1a1a1;
    font-family: "Raleway",sans-serif;
    font-size: 14px;
    font-weight: 700;
    height: 35px;
    letter-spacing: 2px;
    line-height: 35px;
    text-transform: uppercase;
}
.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li a:hover {
    background-color: #171717;
    color: #ffffff;
}
.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li a:focus {
    background-color: #171717;
    color: #a1a1a1;
}
.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li.active a {
    background-color: #171717;
    color: #00a69a;
}
.navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li.active a:hover, .navbar.navbar-fixed-top .navbar-nav .dropdown-menu > li.active a:focus {
    background-color: #171717;
    color: #00a69a;
}
.navbar.navbar-fixed-top .navbar-nav .caret {
    margin-top: -4px;
}
.navbar.navbar-fixed-top .navbar-toggle {
    background-color: #00a69a;
    border-radius: 3px;
    margin-top: 18px;
}
.navbar.navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar.navbar-fixed-top .navbar-collapse {
    border: 0 none;
}
@media (max-width: 991px) {
.navbar.navbar-fixed-top .navbar-collapse {
    border-bottom: 1px solid #282428;
}
}
@media (min-width: 992px) {
.navbar.navbar-fixed-top.center-menu .navbar-nav {
    float: none;
    text-align: center;
}
}
@media (min-width: 992px) {
.navbar.navbar-fixed-top.center-menu .navbar-nav > li {
    display: inline-block;
    float: none;
}
}
.section .section-wrapper > .section-content {
    padding: 80px 0;
}
@media (min-width: 768px) {
.section .section-wrapper > .section-content {
    padding: 100px 0;
}
}
.section .section-title {
    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.section .section-subtitle {
    color: #a1a1a1;
    font-size: 18px;
    font-style: italic;
}
.section.bg-image-yes {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 1280px) {
.section.bg-image-yes {
    background-attachment: fixed;
}
}
.section.bg-image-yes .container-fluid.section-wrapper {
    position: relative;
}
.section.bg-image-yes .container-fluid.section-wrapper > .section-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
.section.bg-image-yes .container-fluid.section-wrapper > .section-content {
    width: 750px;
}
}
@media (min-width: 992px) {
.section.bg-image-yes .container-fluid.section-wrapper > .section-content {
    width: 970px;
}
}
@media (min-width: 1200px) {
.section.bg-image-yes .container-fluid.section-wrapper > .section-content {
    width: 1170px;
}
}
.section.bg-image-yes .container-fluid.section-wrapper > .section-content::before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.section.parallax-yes > .parallax {
    height: 100%;
    width: 100%;
}
.section.parallax-yes > .parallax > .bcg {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}
@media (min-width: 1280px) {
.section.parallax-yes > .parallax > .bcg {
    background-attachment: fixed;
}
}
.section.parallax-yes .container-fluid.section-wrapper {
    position: relative;
}
.section.parallax-yes .container-fluid.section-wrapper > .section-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
.section.parallax-yes .container-fluid.section-wrapper > .section-content {
    width: 750px;
}
}
@media (min-width: 992px) {
.section.parallax-yes .container-fluid.section-wrapper > .section-content {
    width: 970px;
}
}
@media (min-width: 1200px) {
.section.parallax-yes .container-fluid.section-wrapper > .section-content {
    width: 1170px;
}
}
.section.parallax-yes .container-fluid.section-wrapper > .section-content::before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#profile {
    background-color: #0d0c0d;
}
@media (min-width: 992px) {
#profile .section-wrapper > .section-content {
    padding: 0;
}
}
#profile .profile-text {
    text-align: center;
}
@media (min-width: 768px) {
#profile .profile-text {
    text-align: justify;
}
}
@media (min-width: 992px) {
#profile .profile-text {
    padding-top: 100px;
}
}
@media (max-width: 767px) {
#profile .profile-text .divider {
    margin-left: auto;
    margin-right: auto;
}
}
@media (min-width: 992px) {
#profile .profile-text.padding-right-yes {
    padding-right: 20px;
}
}
@media (min-width: 992px) {
#profile .profile-text.padding-left-yes {
    padding-left: 20px;
}
}
#profile .contact-details {
    margin-top: 30px;
}
@media (max-width: 767px) {
#profile .contact-details {
    text-align: center;
}
}
@media (min-width: 992px) {
#profile .contact-details {
    padding-bottom: 100px;
}
}
#profile .contact-details h4 {
    font-size: 18px;
    margin-bottom: 15px;
}
@media (min-width: 480px) and (max-width: 767px) {
#profile .contact-details h4 {
    font-size: 22px;
}
}
#profile .contact-details ul.list-unstyled > li {
    font-size: 16px;
    padding: 2px 0;
}
@media (min-width: 480px) and (max-width: 767px) {
#profile .contact-details ul.list-unstyled > li {
    font-size: 20px;
    padding: 5px 0;
}
}
#profile .contact-details a.btn-custom {
    margin-top: 20px;
}
@media (min-width: 768px) {
#profile .contact-details a.btn-custom {
    margin-top: 50px;
}
}
@media (min-width: 992px) {
#profile .contact-details.padding-right-yes {
    padding-right: 20px;
}
}
@media (min-width: 992px) {
#profile .contact-details.padding-left-yes {
    padding-left: 20px;
}
}
#profile .pp-wrapper {
    position: relative;
}
#profile .pp-wrapper .profile-picture.style-one {
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#profile .pp-wrapper .profile-picture.style-two img {
    margin-top: 100px;
}
#profile .pp-wrapper .profile-picture.style-two .title {
    background-color: #2e2e2e;
    display: block;
    font-weight: 700;
    height: 55px;
    letter-spacing: 2px;
    line-height: 55px;
    text-align: center;
    width: 100%;
}
#portfolio {
    background-color: #171717;
    position: relative;
    z-index: 5;
}
#portfolio .section-wrapper > .section-content {
    padding-bottom: 0;
}
.portfolio {
    margin-top: 30px;
}
.portfolio .item {
    padding: 0;
    position: relative;
}
.portfolio .item > .project-wrapper {
    position: relative;
    z-index: 5;
}
.portfolio .item > .project-wrapper::before {
    background-color: rgba(0, 0, 0, 0);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in-out 0s;
    width: 100%;
    z-index: 10;
}
.portfolio .item > .project-wrapper:hover::before {
    background-color: rgba(0, 0, 0, 0.7);
}
.portfolio .item > .project-wrapper:hover > .project-link {
    opacity: 0.9;
}
.portfolio .item > .project-wrapper:hover > .project-link > a.zoom {
    left: 0;
}
.portfolio .item > .project-wrapper:hover > .project-link > a.external-link {
    left: 40px;
}
.portfolio .item > .project-wrapper:hover > .project-title > h4 {
    margin-top: 0;
    opacity: 1;
}
.portfolio .item > .project-wrapper > .project-link {
    height: 48px;
    left: 50%;
    margin-left: -44px;
    margin-top: -48px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 88px;
    z-index: 20;
}
.portfolio .item > .project-wrapper > .project-link > a {
    border-radius: 50%;
    color: #ffffff;
    display: block;
    font-size: 20px;
    height: 48px;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 48px;
}
.portfolio .item > .project-wrapper > .project-link > a.zoom {
    background-color: #2e2e2e;
    left: 40px;
}
.portfolio .item > .project-wrapper > .project-link > a.external-link {
    background-color: #00a69a;
    left: 0;
}
.portfolio .item > .project-wrapper > .project-title > h4 {
    display: block;
    height: 48px;
    left: 0;
    line-height: 48px;
    margin-top: -48px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: all 0.4s ease-in-out 0s;
    width: 100%;
    z-index: 15;
}
.filterable-portfolio-nav {
    margin: 30px 0 5px;
}
@media (max-width: 599px) {
.filterable-portfolio-nav a {
    margin-bottom: 15px;
}
}
.mfp-bg {
    background-color: #0d0c0d;
}
button.mfp-arrow {
    display: block;
    height: 60px;
    line-height: 20px;
    margin-top: -30px;
    position: absolute;
    top: 50%;
    width: 90px;
}
button.mfp-arrow:active {
    margin-top: -30px;
}
.mfp-arrow-left::before {
    border-right: medium none;
    content: "";
    display: block;
    font-family: "icomoon";
    font-size: 50px;
    height: 60px;
    left: 0;
    line-height: 20px;
    margin: -30px 0 0;
    position: absolute;
    top: 50%;
    width: 90px;
}
.mfp-arrow-left::after {
    border-right: medium none;
}
.mfp-arrow-right::before {
    border-left: medium none;
    content: "";
    display: block;
    font-family: "icomoon";
    font-size: 50px;
    height: 60px;
    left: 0;
    line-height: 20px;
    margin: -30px 0 0;
    position: absolute;
    top: 50%;
    width: 90px;
}
.mfp-arrow-right::after {
    border-left: medium none;
}
.mfp-fade.mfp-bg {
    opacity: 0;
    transition: all 0.15s ease-out 0s;
}
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    transition: all 0.15s ease-out 0s;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}
#services {
    background-color: #0d0c0d;
}
@media (min-width: 768px) {
.services {
    margin-top: 30px;
}
}
.services .item {
    padding: 0;
}
@media (max-width: 767px) {
.services .item {
    margin-top: 10px;
}
}
@media (min-width: 768px) {
.services .item::after {
    border-right: 1px solid #3b3b3b;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
}
}
.services .item > .inner-content {
    padding: 25px 15px 15px;
    position: relative;
    text-align: justify;
}
@media (min-width: 480px) {
.services .item > .inner-content {
    padding: 25px 78px 15px;
}
}
@media (min-width: 640px) {
.services .item > .inner-content {
    padding: 25px 118px 15px;
}
}
@media (max-width: 767px) {
.services .item > .inner-content {
    text-align: center;
}
}
@media (min-width: 768px) {
.services .item > .inner-content {
    padding: 25px 28px 15px;
}
}
.services .item > .inner-content > i {
    font-size: 38px;
}
.services .item > .inner-content > h4 {
    letter-spacing: 1px;
    margin-top: 15px;
}
.services .item > .inner-content > p {
    margin: 8px 0 0;
}
@media (min-width: 768px) {
.services .item.top::before {
    border-bottom: 1px dashed #3b3b3b;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}
}
@media (min-width: 768px) {
.services .item.top > .inner-content {
    padding: 15px 28px 25px;
}
}
@media (min-width: 768px) {
.services .item.dark-bg {
    background-color: #080708;
}
}
#strenghts {
    background-image: url("../images/bg-strenghts.jpg");
    background-position: center top;
}
#strenghts .section-wrapper > .section-content {
    padding-bottom: 0;
}
#strenghts.parallax-yes {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#strenghts.parallax-yes > .parallax > .bcg {
    background-image: url("../images/bg-strenghts.jpg");
}
.column-chart {
    bottom: 0;
    height: 320px;
    left: 50%;
    margin-left: -50%;
    margin-top: 40px;
    opacity: 0.8;
    position: relative;
    width: 100%;
    z-index: 20;
}
@media (min-width: 568px) {
.column-chart {
    margin-left: -40%;
    width: 80%;
}
}
@media (min-width: 768px) {
.column-chart {
    margin-left: -30%;
    width: 60%;
}
}
@media (min-width: 992px) {
.column-chart {
    margin-left: -20%;
    width: 40%;
}
}
@media (min-width: 1024px) {
.column-chart {
    margin-left: -18%;
    width: 36%;
}
}
.column-chart::before, .column-chart::after {
    border-bottom: 1px dashed #a1a1a1;
    border-top: 1px dashed #a1a1a1;
    content: "";
    height: 25%;
    left: 0;
    margin-left: -15px;
    position: absolute;
    top: 0;
    width: calc(100% + 30px);
}
.column-chart::after {
    top: 50%;
}
.column-chart > .legend {
    position: absolute;
    top: 0;
    z-index: -1;
}
.column-chart > .legend.legend-left {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #a1a1a1 -moz-use-text-color #a1a1a1 #a1a1a1;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    height: 75%;
    left: 0;
    margin-left: -55px;
    width: 25px;
}
.column-chart > .legend.legend-left > .legend-title {
    display: block;
    font-size: 28px;
    height: 50px;
    left: 0;
    letter-spacing: 1px;
    line-height: 50px;
    margin-left: -60px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 65px;
}
.column-chart > .legend.legend-right {
    height: 100%;
    margin-right: -115px;
    right: 0;
    width: 100px;
}
.column-chart > .legend.legend-right > .item {
    height: 25%;
    position: relative;
    width: 100%;
}
.column-chart > .legend.legend-right > .item > h4 {
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 100px;
}
.column-chart > .chart {
    bottom: 0;
    height: 100%;
    left: 50%;
    margin-left: -49%;
    position: relative;
    width: 98%;
    z-index: 20;
}
.column-chart > .chart > .item {
    float: left;
    height: 100%;
    position: relative;
    width: 20%;
}
.column-chart > .chart > .item::before {
    border-right: 1px dashed #a1a1a1;
    bottom: 0;
    content: "";
    height: calc(100% + 15px);
    left: 50%;
    opacity: 0.7;
    position: absolute;
    width: 1px;
    z-index: -1;
}
.column-chart > .chart > .item > .bar {
    bottom: 0;
    height: 100%;
    left: 3px;
    position: absolute;
    width: 94%;
}
.column-chart > .chart > .item > .bar > span.percent {
    background-color: #eee;
    bottom: 0;
    color: #000;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 26px;
    left: 0;
    letter-spacing: 1px;
    line-height: 26px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 25;
}
.column-chart > .chart > .item > .bar > .item-progress {
    background-color: #00a69a;
    bottom: 0;
    height: 20%;
    left: 0;
    position: absolute;
    width: 100%;
}
.column-chart > .chart > .item > .bar > .item-progress > .title {
    font-size: 14px;
    left: 50%;
    letter-spacing: 2px;
    position: absolute;
    text-align: center;
    top: calc(50% - 13px);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}
@media (min-width: 360px) {
.column-chart > .chart > .item > .bar > .item-progress > .title {
    font-size: 16px;
}
}
@media (min-width: 480px) {
.column-chart > .chart > .item > .bar > .item-progress > .title {
    font-size: 18px;
}
}
#resume {
    background-color: #171717;
}
#resume h3 {
    text-align: center;
}
@media (min-width: 768px) {
#resume h3 {
    text-align: left;
}
}
#resume .education {
    margin-top: 30px;
}
#resume .work-experience {
    margin-top: 50px;
}
.panel-group.resume {
    margin-top: 30px;
    position: relative;
}
.panel-group.resume .resume-item {
    margin-bottom: 40px;
    position: relative;
}
@media (min-width: 568px) {
.panel-group.resume .resume-item {
    margin-bottom: 20px;
}
}
@media (min-width: 768px) {
.panel-group.resume .resume-item::before {
    border-left: 1px dashed #484848;
    content: "";
    height: calc(100% + 20px);
    left: 170px;
    position: absolute;
    top: 0;
    width: 1px;
}
}
.panel-group.resume .resume-item:last-child {
    margin-bottom: 0;
}
.panel-group.resume .resume-item:last-child::before {
    display: none;
}
.panel-group.resume .resume-item .resume-year {
    background-color: #00a69a;
    border-radius: 4px;
    display: block;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin-bottom: -20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
}
@media (min-width: 568px) {
.panel-group.resume .resume-item .resume-year {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
}
}
.panel-group.resume .resume-item .resume-btn {
    background-color: #2e2e2e;
    border-radius: 4px;
    height: 40px;
    left: 150px;
    position: absolute;
    top: 0;
    width: 40px;
    z-index: 5;
}
@media (max-width: 767px) {
.panel-group.resume .resume-item .resume-btn {
    display: none;
}
}
.panel-group.resume .resume-item .resume-btn > a {
    display: block;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
    z-index: 10;
}
.panel-group.resume .resume-item .resume-btn > a::before {
    color: #ffffff;
    content: "-";
    display: block;
    font-size: 30px;
    font-weight: 700;
    height: 40px;
    left: 0;
    line-height: 38px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 40px;
    z-index: 15;
}
.panel-group.resume .resume-item .resume-btn > a.collapsed::before {
    content: "+";
}
.panel-group.resume .resume-item .panel {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #6e6e6e;
    border-radius: 0;
    padding: 10px;
    width: 100%;
}
@media (min-width: 568px) {
.panel-group.resume .resume-item .panel {
    margin-left: 140px;
    width: calc(100% - 140px);
}
}
@media (min-width: 768px) {
.panel-group.resume .resume-item .panel {
    margin-left: 210px;
    width: calc(100% - 210px);
}
}
.panel-group.resume .resume-item .panel .panel-heading {
    position: relative;
}
.panel-group.resume .resume-item .panel .panel-heading .panel-title {
    text-transform: uppercase;
}
@media (max-width: 567px) {
.panel-group.resume .resume-item .panel .panel-heading .panel-title {
    padding-top: 20px;
}
}
.panel-group.resume .resume-item .panel .panel-collapse .panel-body {
    border-top: medium none;
    padding-top: 5px;
}
.panel-group.resume .resume-item .panel .panel-collapse .panel-body p {
    margin-bottom: 0;
}
#references {
    background-image: url("../images/bg-references.jpg");
}
#references .section-wrapper > .section-content {
    padding-bottom: 160px;
}
#references .flexslider.references {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 30px;
}
#references .flexslider.references:hover .flex-direction-nav-custom > li > a {
    opacity: 1;
}
#references .flexslider.references > .slides > .item .profile {
    height: 120px;
    left: 0;
    position: absolute;
    top: 0;
    width: 120px;
}
#references .flexslider.references > .slides > .item .profile::before {
    background-color: #00a69a;
    border-radius: 50%;
    bottom: 0;
    box-shadow: 3px 3px 10px #0d0c0d;
    content: "";
    display: block;
    font-family: "icomoon";
    font-size: 18px;
    height: 45px;
    left: 0;
    line-height: 47px;
    margin-bottom: -8px;
    position: absolute;
    text-align: center;
    width: 45px;
}
#references .flexslider.references > .slides > .item .profile > img {
    display: block;
    height: 120px;
    width: 120px;
}
#references .flexslider.references > .slides > .item .content {
    color: #a1a1a1;
}
@media (min-width: 768px) {
#references .flexslider.references > .slides > .item .content {
    padding-left: 160px;
}
}
#references .flexslider.references > .slides > .item .content h3 {
    color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
@media (max-width: 767px) {
#references .flexslider.references > .slides > .item .content h3 {
    text-align: center;
}
}
#references .flexslider.references > .slides > .item .content p {
    font-size: 22px;
    font-style: italic;
    text-align: center;
}
@media (min-width: 768px) {
#references .flexslider.references > .slides > .item .content p {
    text-align: justify;
}
}
#references .flexslider.references > .slides > .item .content p.source {
    color: #ffffff;
    font-size: 18px;
    margin-top: 20px;
}
#references .flexslider.references > .slides > .item .content p.source > span {
    color: #a1a1a1;
}
#references .flexslider.references .flexslider-controls > .flex-control-nav {
    bottom: -60px;
}
#references .flexslider.references .flexslider-controls > .flex-control-nav > li {
    margin: 0 3px;
    position: relative;
}
#references .flexslider.references .flexslider-controls > .flex-control-nav > li:hover {
    cursor: pointer;
}
#references .flexslider.references .flexslider-controls > .flex-control-nav > li::before {
    background-color: #0d0c0d;
    border-radius: 3px;
    content: "";
    display: block;
    height: 40px;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 40px;
}
#references .flexslider.references .flexslider-controls > .flex-control-nav > li > img {
    border-radius: 3px;
    height: 40px;
    width: 40px;
}
#references .flexslider.references .flexslider-controls > .flex-control-nav > li.flex-active::before {
    opacity: 0.2;
}
#references .flexslider.references > .flex-direction-nav-custom {
    margin-top: -5px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 15;
}
#references .flexslider.references > .flex-direction-nav-custom > li {
    padding: 0;
}
#references .flexslider.references > .flex-direction-nav-custom > li:hover {
    cursor: pointer;
}
#references .flexslider.references > .flex-direction-nav-custom > li:hover > a {
    color: #ffffff;
}
#references .flexslider.references > .flex-direction-nav-custom > li > a {
    color: #a1a1a1;
    font-size: 35px;
}
#references .flexslider.references > .flex-direction-nav-custom > li > a.flex-prev {
    padding-right: 20px;
}
#references.parallax-yes {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#references.parallax-yes > .parallax > .bcg {
    background-image: url("../images/bg-references.jpg");
}
#skills {
    background-color: #0d0c0d;
}
#skills .section-wrapper > .section-content {
    padding-bottom: 0;
}
@media (min-width: 768px) {
#skills {
    padding-bottom: 60px;
}
}
@media (max-width: 767px) {
.circle-chart {
    margin-top: -30px;
}
}
.circle-chart .item {
    margin-bottom: 70px;
    margin-top: 70px;
}
@media (min-width: 768px) {
.circle-chart .item {
    margin-bottom: 30px;
    margin-top: 30px;
}
}
.circle-chart .item > .circle {
    background-color: #a1a1a1;
    border-radius: 50%;
    height: 120px;
    margin: 0 auto;
    padding: 6px;
    position: relative;
    transform: rotate(180deg);
    width: 120px;
}
.circle-chart .item > .circle > .item-progress {
    display: inline-block;
    height: 20px;
    overflow: hidden;
    position: relative;
    width: 108px;
}
.circle-chart .item > .circle > .item-progress::before {
    background-color: #3b3b3b;
    border-radius: 106px;
    content: "";
    display: block;
    height: 108px;
    width: 108px;
}
.circle-chart .item > .percent {
    background-color: #00a69a;
    border-radius: 4px;
    box-shadow: 3px 3px 10px #0d0c0d;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    left: 50%;
    line-height: 40px;
    margin-left: -20px;
    margin-top: -40px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 40px;
}
.circle-chart .item > h4 {
    letter-spacing: 1px;
    margin-top: 20px;
}
#knowledge {
    background-color: #0d0c0d;
}
#knowledge .section-wrapper > .section-content {
    padding-top: 0;
}
.bar-chart {
    margin-top: 40px;
    position: relative;
}
.bar-chart > .item {
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}
.bar-chart > .item:last-child {
    margin-bottom: 0;
}
.bar-chart > .item > h4 {
    letter-spacing: 1px;
    margin-bottom: 18px;
}
@media (min-width: 1280px) {
.bar-chart > .item > h4 {
    margin-bottom: 12px;
}
}
.bar-chart > .item > .bar {
    background-color: #a1a1a1;
    border-radius: 2px;
    display: block;
    height: 20px;
    margin-top: 3px;
    position: relative;
    width: 100%;
}
.bar-chart > .item > .bar > .item-progress {
    background-color: #3b3b3b;
    border-radius: 2px;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1%;
    z-index: 5;
}
.bar-chart > .item > .bar > .percent {
    background-color: #00a69a;
    border-radius: 4px;
    box-shadow: 3px 3px 10px #0d0c0d;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin-top: -20px;
    position: absolute;
    right: calc(100% - 40px);
    text-align: center;
    top: 50%;
    width: 40px;
    z-index: 10;
}
#accolades {
    background-color: #0d0c0d;
}
#accolades .section-wrapper > .section-content {
    padding-top: 0;
}
#accolades .bookmark {
    font-size: 40px;
    margin-top: 80px;
}
.accolades {
    margin-top: 30px;
}
.accolades > .item {
    padding-bottom: 15px;
    position: relative;
}
.accolades > .item::before {
    border-left: 1px dashed #6e6e6e;
    content: "";
    display: block;
    height: 100%;
    left: 30px;
    position: absolute;
    top: 0;
    width: 1px;
}
.accolades > .item:last-child {
    padding-bottom: 0;
}
.accolades > .item:last-child::before {
    display: none;
}
.accolades > .item:last-child > .content {
    border-bottom: medium none;
    padding-bottom: 0;
}
.accolades > .item > i {
    background-color: #00a69a;
    border-radius: 50%;
    font-size: 28px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    text-align: center;
    width: 60px;
}
.accolades > .item > .content {
    border-bottom: 1px dashed #6e6e6e;
    margin-left: 90px;
    padding-bottom: 15px;
}
.accolades > .item > .content h3 {
    margin-bottom: 15px;
    padding-top: 15px;
}
.accolades > .item > .content p {
    font-size: 18px;
}
#milestones {
    background-image: url("../images/bg-milestones.jpg");
}
#milestones.parallax-yes {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#milestones.parallax-yes > .parallax > .bcg {
    background-image: url("../images/bg-milestones.jpg");
}
.milestones {
    margin-top: 40px;
}
.milestones .item {
    text-align: center;
}
@media (max-width: 992px) {
.milestones .item:first-child, .milestones .item:nth-child(2) {
    margin-bottom: 60px;
}
}
@media (max-width: 768px) {
.milestones .item:nth-child(3) {
    margin-bottom: 60px;
}
}
.milestones .item > .circle {
    background-color: #00a69a;
    border-radius: 50%;
    height: 100px;
    margin: 0 auto 20px;
    opacity: 0.8;
    position: relative;
    width: 100px;
}
.milestones .item > .circle > i {
    display: block;
    font-size: 45px;
    height: 60px;
    left: 50%;
    line-height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 60px;
}
.milestones .item > .number {
    font-size: 32px;
}
.milestones .item h4 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 5px;
}
#work-process {
    background-color: #171717;
}
@media (max-width: 767px) {
#work-process .text-justify {
    text-align: center;
}
}
#work-process .divider {
    margin-bottom: 60px;
}
@media (max-width: 767px) {
#work-process .divider {
    margin-left: auto;
    margin-right: auto;
}
}
.work-process {
    margin-bottom: 20px;
    margin-top: 20px;
}
@media (min-width: 768px) {
.work-process {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 15px;
}
}
.work-process .item {
    padding: 0;
    position: relative;
}
@media (max-width: 767px) {
.work-process .item {
    height: 132px;
    margin: 0 auto;
    width: 200px;
}
}
@media (max-width: 767px) {
.work-process .item::before {
    border-left: 1px dashed #6e6e6e;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    margin-bottom: -66px;
    position: absolute;
    width: 1px;
    z-index: 10;
}
}
.work-process .item .inner-content {
    height: 132px;
    position: relative;
    width: 100%;
    z-index: 5;
}
@media (min-width: 768px) {
.work-process .item .inner-content {
    height: 102px;
    margin-top: 102px;
}
}
.work-process .item .inner-content::before {
    border-top: 1px solid #6e6e6e;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 10;
}
.work-process .item .inner-content::after {
    border-left: 1px dashed #6e6e6e;
    content: "";
    height: 100%;
    margin-top: -132px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    z-index: 10;
}
@media (min-width: 768px) {
.work-process .item .inner-content::after {
    margin-top: -102px;
}
}
.work-process .item .inner-content > i {
    background-color: #00a69a;
    border-radius: 3px;
    display: block;
    font-size: 30px;
    height: 66px;
    left: 50%;
    line-height: 66px;
    margin-left: -43px;
    margin-top: -33px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 86px;
    z-index: 15;
}
.work-process .item .inner-content > span.title {
    display: block;
    height: 66px;
    left: 0;
    line-height: 66px;
    margin-top: -18px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 100%;
}
@media (min-width: 768px) {
.work-process .item .inner-content > span.title {
    margin-top: -33px;
}
}
.work-process .item .inner-content > span.dot {
    background-color: #6e6e6e;
    border-radius: 25%;
    content: "";
    height: 8px;
    left: 0;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 8px;
    z-index: 15;
}
.work-process .item > i.icon-Arrow {
    display: block;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    margin-right: -25px;
    margin-top: 45px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    width: 50px;
    z-index: 15;
}
@media (min-width: 768px) {
.work-process .item > i.icon-Arrow.icon-Down-3 {
    margin-top: 25px;
}
}
@media (max-width: 767px) {
.work-process .item > i.icon-Arrow.icon-Up-3 {
    left: 0;
    margin-left: -25px;
    transform: rotate(180deg);
}
}
@media (min-width: 768px) {
.work-process .item > i.icon-Arrow.icon-Up-3 {
    margin-top: -25px;
}
}
.work-process .item.first .inner-content::before {
    left: auto;
    right: 0;
}
@media (max-width: 767px) {
.work-process .item.last::before {
    display: none;
}
}
@media (max-width: 767px) {
.work-process .item.last .inner-content::before {
    left: auto;
    right: 0;
}
}
.work-process .item.last .inner-content::after {
    display: none;
}
@media (min-width: 768px) {
.work-process .item.last .inner-content > span.dot {
    left: auto;
    right: 0;
}
}
@media (max-width: 767px) {
.work-process .item.no-margin::before {
    display: none;
}
}
.work-process .item.no-margin .inner-content {
    margin-top: 0;
}
.work-process .item.no-margin .inner-content::after {
    margin-top: 0;
}
@media (min-width: 768px) {
.work-process .item.no-margin .inner-content > span.title {
    bottom: 0;
    margin-bottom: -33px;
    top: auto;
}
}
#contact {
    background-color: #0d0c0d;
}
#contact .contact-form {
    margin-top: 40px;
}
#contact .contact-form .form-group {
    margin-bottom: 20px;
}
#contact .contact-form .form-group label {
    color: #a1a1a1;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}
#contact .contact-form .form-group label.error {
    font-size: 14px;
    margin-top: 5px;
}
#contact .contact-form .form-group .input-group {
    width: 100%;
}
#contact .contact-form .form-group .input-group input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border-color: -moz-use-text-color -moz-use-text-color #3b3b3b;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #a1a1a1;
    font-size: 16px;
    padding: 0;
}
#contact .contact-form .form-group .input-group input:focus {
    box-shadow: none;
}
#contact .contact-form .form-group .input-group textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border-color: -moz-use-text-color -moz-use-text-color #3b3b3b;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #ffffff;
    font-size: 16px;
    height: 250px;
    margin-bottom: 10px;
    padding: 0;
}
#contact .contact-form .form-group .input-group textarea:focus {
    box-shadow: none;
}
#contact.contact-form .form-group .input-group *:-moz-placeholder {
    color: #a1a1a1;
    opacity: 1;
}
#contact .contact-form .form-group .input-group *::-moz-placeholder {
    color: #a1a1a1;
    opacity: 1;
}
#contact .contact-form .form-group button {
    background-color: #212121;
    border: medium none;
    color: #a1a1a1;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    letter-spacing: 2px;
    line-height: 50px;
    margin-top: 5px;
    outline: medium none;
    padding: 0;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out 0s;
    width: 100%;
}
#contact .contact-form .form-group button:hover {
    color: #ffffff;
}
#contact .contact-form .form-group button:focus {
    box-shadow: none;
}
#contact .contact-details {
    margin-bottom: 40px;
    margin-top: 20px;
}
#contact .contact-details .speech-bubble {
    height: 170px;
    margin: auto;
    position: relative;
    width: 170px;
}
#contact .contact-details .speech-bubble > i {
    color: #a1a1a1;
    display: block;
    font-size: 170px;
    position: absolute;
    z-index: 5;
}
#contact .contact-details .speech-bubble h4 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 50px;
    text-align: center;
}
#contact .contact-details h2 {
    font-size: 40px;
    letter-spacing: 1px;
    margin-top: 20px;
}
#contact .contact-details h4 {
    margin-top: 10px;
}
#contact .contact-details span.divider {
    height: 4px;
    margin-bottom: 20px;
    width: 60px;
}
#blog {
    background-color: #0d0c0d;
}
#blog .launch {
    margin-top: 50px;
}
#blog .blog-post {
    margin-top: 40px;
    position: relative;
}
#blog .blog-post > .post-media img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#blog .blog-post > .post-meta {
    border: 1px solid #3b3b3b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #bbbbbb;
    padding: 35px 30px 30px;
    position: relative;
}
#blog .blog-post > .post-meta > span.date {
    background-color: #00a69a;
    border-radius: 2px;
    color: #ffffff;
    display: block;
    font-size: 12px;
    height: 60px;
    margin-top: -40px;
    padding-top: 8px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 60px;
}
#blog .blog-post > .post-meta > span.date > span.day {
    display: block;
    font-size: 30px;
    font-weight: 700;
}
#blog .blog-post > .post-meta > .post-title a {
    color: #d4d4d4;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}
@media (min-width: 480px) and (max-width: 767px) {
#blog .blog-post > .post-meta > .post-title a {
    font-size: 26px;
    line-height: 35px;
}
}
#blog .blog-post > .post-meta > .post-title a:hover {
    color: #eeeeee;
}
#map {
    position: relative;
}
#map > .address {
    background-color: #00a69a;
    border-bottom: 2px solid #00736b;
    height: 55px;
    opacity: 0.8;
    text-align: center;
    width: 100%;
    z-index: 5;
}
#map > .address h4 {
    line-height: 52px;
}
#map #google-container {
    height: 400px;
    position: relative;
    width: 100%;
}
footer.footer {
    background-color: #171717;
    padding-bottom: 50px;
    padding-top: 70px;
}
footer.footer .page-scroll > a {
    background-color: #00a69a;
    border-radius: 4px;
    box-shadow: 0 3px 0 #00736b;
    color: #ffffff;
    display: block;
    font-size: 24px;
    height: 46px;
    left: 50%;
    line-height: 48px;
    margin-left: -24px;
    margin-top: -94px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 48px;
}
footer.footer ul.social-icons {
    margin: 0;
    text-align: center;
}
footer.footer ul.social-icons > li:hover > .item img {
    opacity: 0.7;
}
footer.footer ul.social-icons > li > .item {
    background-color: #2e2e2e;
    border-radius: 4px;
    box-shadow: 0 3px 0 #212121;
    height: 48px;
    position: relative;
    width: 48px;
}
footer.footer ul.social-icons > li > .item > a {
    color: rgba(255, 255, 255, 0.5);
    display: block;
    font-size: 25px;
    height: 48px;
    left: 0;
    line-height: 48px;
    position: absolute;
    top: 0;
    width: 48px;
}
footer.footer ul.social-icons > li > .item > a:hover {
    color: rgba(255, 255, 255, 0.7);
}
footer.footer ul.social-icons > li > .item img {
    margin: 12px auto 0;
    opacity: 0.5;
    transition: all 0.2s ease-in-out 0s;
}
footer.footer .copyright {
    margin-top: 20px;
}
footer.footer .copyright p {
    font-size: 14px;
}
