@{
    Layout = "~/Views/Shared/_LayoutError.cshtml";
    ViewBag.Title = "404错误";
}
<div class="container-fluid back-img">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="error-block">
                <h1>404</h1>
                <div class="desc">请求的页面已失联~系统已自动记录该错误。</div>
                <a class="btn btn-success btn-lg" href="/">
                    <i class="fa fa-home"></i> 跳转首页
                </a>
            </div>
        </div>
    </div>
</div>